.container{
    width: 50%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 8px;

    
}
.progress-bar{
    height: 20px;
    background-color: #4caf50;
    border-radius: 8px;
    // transition: width 0.5ms ease;
}